.header{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: var(--bg-black);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.header__container{
    width: var(--width-header);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
}
.logo__img{
    height: 24px;
}

.logo__img img{
    height: 100%;
}
.logo__name{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.list{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0 3vw;
    font-size: 14px;
    font-weight: 400;

}
.drop-down-list{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    font-size: 14px;
}
.menu-close{
    align-self: flex-end;
}
.drop-down-list__blackout{
    width: calc(100% - 260px);
    background-color: var(--bg-blackout);
}
.drop-down-list__content{
    /* min-width: 40%; */
    width: 260px;
    background-color: var(--bg-black);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3vh 0;
    padding: 2vh 2vh 0 4vh;
    text-wrap: nowrap;
}
.visibility-hidden{
    visibility: hidden;
}
.block_scroll{
    overflow-y: hidden;
}